.side-bar
  .side-bar__user-name
    .side-bar__user-name--top-items
      %ul.side-bar__user-name--top-items__name takeru
      %ul.side-bar__user-name--top-items__icon 
        %li.side-bar__user-name--top-items__icon__new-group 
          = link_to("#") do 
            =icon('fas', 'edit')
        %li.side-bar__user-name--top-items__icon__edit-user
          = link_to("#") do
            =icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list--groups
      %li.side-bar__group-list--groups__name techcamp
      %li.side-bar__group-list--groups__message まだメッセージはありません
    .side-bar__group-list--groups
      %li.side-bar__group-list--groups__name techcamp
      %li.side-bar__group-list--groups__message まだメッセージはありません

        
          




